#container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.card {
    height: 230px;
    width: 150px;
    background-color: rgb(55, 61, 61);
    border-radius: 15px;
    text-align: center;
}